@model List<Medicine>;
@{
	ViewData["Title"] = "Medicine List";
}
@section title {
	<h3>Medicine List</h3>
	<hr />
}
@if (Model != null && Model.Count() > 0)
{
	<table class="table border-secondary">
		<thead>
			<tr>
				<th>Medicine Name</th>
				<th>Medicine Group</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Expiry Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var medicine in Model)
			{
				<tr>
					<td>
						@medicine.Name
					</td>
					<td>
						@medicine.Group?.Name
					</td>
					<td>
						@medicine.Price
					</td>
					<td>
						@medicine.Quantity
					</td>
					<td>
						@medicine.ExpiryDate
					</td>
					<td>
						<a class="btn btn-link" asp-controller="Medicine" asp-action="Details" asp-route-id="@medicine.MedicineId">View Details...</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h2 class="text-center text-danger">No Data Found!</h2>
}
<a class="btn btn-primary" asp-controller="Medicine" asp-action="Add">Add Medicine</a>
<script>
	function ConfirmDelete() {
		return confirm("Are you sure you want to Delete this?");
	}
</script>